/* This file is for your main application css. */

@import "./phoenix.css";

html, body, #app, .container {
  height: 100%;
  min-height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

button.default {
	background-color: white;
	color: #222;
}

/**================

       MODAL

================**/

.modal-open {
	overflow: hidden;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  z-index: 1072;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

.fade.in {
	opacity: 1;
	display: block;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

@media (min-width: 768px) {
	.modal-dialog {
		width: 600px;
		margin: 30px auto;
	}
}

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: transform .3s ease-out;
  -webkit-transform: translate(0,-25%);
  -ms-transform: translate(0,-25%);
  -o-transform: translate(0,-25%);
  transform: translate(0,-25%);
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

@media (min-width: 768px) {
	.modal-content {
		-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
		box-shadow: 0 5px 15px rgba(0,0,0,.5);
	}
}


.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.fade.in {
  opacity: 0.5;
}

.modal-backdrop {
  z-index: 1071;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-title {
	padding: 0;
	margin: 0;
}

.modal-body {
  position: relative;
  padding: 15px;
}

.modal-footer {
	padding: 15px;
  text-align: right;
	border-top: 1px solid #e5e5e5;
}

.modal-footer button + button {
  margin-bottom: 0;
  margin-left: 5px;
}

/**================

    END MODAL

================**/

.left-pane {
	width: 420px;
	float: left;
	height: 100%;
}

.right-pane {
	width: calc(100% - 420px);
	float: left;
	height: 100%;
}

.action-bar {
	background-color: #EEEEEE;
	height: 60px;
	padding: 6px 8px;
}

.action-bar .action-bar-title {
	font-size: 200%;
}

.action-bar-create-button {
	float: right;
	background-color: transparent;
	font-size: 200%;
	border: none;
	outline: none;
	color: #666;
	height: auto;
	margin: 0;
	padding: 0;
}

.action-bar-create-button:hover {
	border: none;
	background-color: transparent;
	outline: none;
	color: #606060;
}

.action-bar-create-button:focus {
	border: none;
	background-color: transparent;
	outline: none;
	color: #606060;
}

.search-bar {
	height: 40px;
	padding: 8px 6px;
	background-color: #EFEFEF;
}

.conversation-list {
	height: calc(100% - 100px);
	max-height: calc(100% - 100px);
	overflow-x: hidden;
	overflow-y: scroll;
}

.conversation {
	height: 100%;
	background-color: #F7F9FA;
}

.conversation-item {
	height: 72px;
	clear: both;
}

.conversation-item:hover {
	background-color: #f4f5f5;
	cursor: pointer;
}

.conversation-item.active {
	background-color: #e9ebeb;
}

.conversation-item .left {
	float: left;
	width: 64px;
	padding: 5px;
	text-align: center;
}

.conversation-item .profile-pic {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.conversation-item .body {
	float: left;
	padding: 6px 2px;
	width: 276px;
}

.conversation-item .title {
	display: block;
}

.conversation-item .last-message {
	display: block;
	font-size: 80%;
	color: #333;
}

.conversation-item.unread .title {
	font-weight: 700;
}

.conversation-item .right {
	float: left;
	text-align: right;
	width: 80px;
	padding: 6px 6px;
}

.conversation-item .time {
	font-size: 90%;
	display: block;
}

.conversation-item .badge {
	padding: 0 4px;
	border-radius: 30%;
	background-color: #24D066;
	text-align: center;
	color: white;
	font-size: 80%;
}

.conversation-top-bar {
	background-color: #EEEEEE;
	height: 60px;
	padding: 6px;
}

.conversation-top-bar .title {
	font-size: 150%;
	line-height: 48px;
}

.conversation-messages {
	padding: 10px;
	height: calc(100% - 122px);
	overflow-x: hidden;
	overflow-y: scroll;
}

.conversation-input {
	height: 62px;
	padding: 8px 6px;
	background-color: #EFEFEF;
}

.conversation-input .input-container {
	width: calc(100% - 110px);
	display: inline-block;
}

.search-bar input, .conversation-input input, input.form-control {
	display: inline-block;
	width: 100%;
	height: 40px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 12px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.search-bar input {
	height: 28px;
}

.search-bar input:focus, .conversation-input input:focus, input.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 2px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 2px rgba(102,175,233,.6);
}

.conversation-input button {
	display: inline-block;
	margin-left: 8px;
	width: 100px;
}

.container.login {
	background-color: #606060;
}

.login-form-container {
	border-radius: 10px;
	background-color: white;
	width: 300px;
	margin: 10% auto 0;
	padding: 5px;
}

.login-form-container img {
	width: 80px;
}

.login-form-container input {
	height: 30px;
}

.login-form-container form {
	text-align: center;
	margin-bottom: 0;
}